<h1>Ninja Gold Game</h1>

<div id="score_div">
	<p>Your Gold: <%= session[:current_score] %></p>
</div>

<%= session[:random] %>

<div id="gamble_div">
	<div class="gamble_option">
		<h3>Farm</h3>
		<p>(Earns 10-20 golds)</p>
		<a type="button" href="/rpg/farm">Find Gold!</a>
	</div>
	<div class="gamble_option">
		<h3>Cave</h3>
		<p>(Earns 10-20 golds)</p>
		<a type="button" href="/rpg/cave">Find Gold!</a>
	</div>
	<div class="gamble_option">
		<h3>House</h3>
		<p>(Earns 10-20 golds)</p>
		<a type="button" href="/rpg/house">Find Gold!</a>
	</div>
	<div class="gamble_option">
		<h3>Casino</h3>
		<p>(Earns 10-20 golds)</p>
		<a type="button" href="/rpg/casino">Find Gold!</a>
	</div>
</div>

<div id="activity_div">
<h4>Activities:</h4>
	<div class="activity_list">
		<p class="winning">Earned XX golds from the farm! (current_date_time)</p>
		<p class="losing">Entered the casino and lost XX golds.. Ouch.. (current_date_time)</p>
	</div>
</div>